<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}

    {% block styles %}
        <!-- Connect styles here -->
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <!-- Write navbar content here -->
    {% endblock %}

    {% block content %}
        <!-- Write html content here -->w
    {% endblock %}

    {% block scripts %}
        <!-- Write JS scripts here -->
    {% endblock %}
</body>
</html>